.TodoItem {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  color: var(--bg-color);
  padding: 0.5rem;
  margin: 0 auto 1rem auto;

  max-width: 600px;
  height: 5rem;
  border-radius: 10px;
  background-color: white;

  animation: item 600ms;
}

@keyframes item {
  0% {
    transform: translateY(-100px);
		opacity: 0.1;
  }
  100% {
		transform: translateY(0px);
    opacity: 1;
  }
}

.TodoItem button {
  cursor: pointer;
  margin-right: 1rem;
  height: 24px;
  font-size: 1.5rem;
}

.TodoItem .uncompleted-Icon {
  color: var(--green);
}

.TodoItem .uncompleted-Icon:hover {
  transform: scale(1.1);
}

.TodoItem .deleteIcon:hover {
  color: var(--red);
}

.completed {
  text-decoration: line-through;
  color: #ccc;
}

.TodoItem .completed-Icon {
  color: #000;
}
