.TodoSearch {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.5rem;
  max-width: 1024px;
  margin: 1.5rem auto;
  transition: all var(--transition);
}

.search__title {
  animation: todo 2s;
  font-weight: var(--bold-font);
}

@keyframes todo {
  from {
    transform: translateX(-100px);
    opacity: 0.3;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.search__input {
  display: flex;
  align-items: center;
  padding: 0.2rem;
  max-width: 24rem;
  color: #000;
  font-size: 1.2rem;
  background-color: rgb(255, 255, 255);
  border: 2px solid var(--primary-color);
  cursor: pointer;
  border-radius: 10px;
}

.search__input input {
  padding: 0.8rem;
  width: 90%;
  font-size: 1.2rem;
}
