.CreateTodoButton {
	text-align: right;
	width: 100%;
	margin: 0 auto;
	padding: 1rem;
	max-width: 600px;
}

.CreateTodoButton button {
	padding: 0.5rem;
	font-size: 2.5rem;
	border-radius: 10px;
	background-color: #5500ff;
	color: var(--primary-color);
	transition: all var(--transition);
}

.CreateTodoButton button:hover {
	background-color: #310094;
}
