.Modal {
  display: grid;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.256);
  backdrop-filter: blur(4px);
}

.Modal .Modal-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 1rem;
  padding: 1.5rem;
  border-radius: 10px;
  color: var(--primary-color);
  background-color: var(--bg-color);
}
