.ConfirmDelete .ConfirmDelete-title {
  font-size: 1rem;
}
.ConfirmDelete .ConfirmDelete-title span {
  color: var(--red);
}

.ConfirmDelete button {
  padding: 1rem 2rem;
  border-radius: 10px;
  font-size: 0.8rem;
  transition: background var(--transition);
  color: var(--primary-color);
  font-weight: 700;
}

.ConfirmDelete .confirmButton {
  background-color: rgb(156, 0, 0);
  margin-right: 0.5rem;
}

.ConfirmDelete .confirmButton:hover {
  background-color: var(--red);
  transition: background var(--transition);
}

.ConfirmDelete .cancelButton {
  background-color: rgb(0, 116, 0);
}

.ConfirmDelete .cancelButton:hover {
  background-color: var(--green);
  transition: background var(--transition);
}

@media screen and (min-width: 600px) {
  .ConfirmDelete .ConfirmDelete-title {
    font-size: 1.4rem;
  }
  .ConfirmDelete button {
    font-size: 1rem;
  }
}
